* {
	margin: 0;
	padding: 0;
}
body, select {
	color: #333;
	font: 14px/20px sans-serif;
}
.config-type-title {
	padding: 5px 10px;
	font-weight: bold;
	background: #ddd;
	border-bottom: 1px solid #ccc;
}
.config-item {
	display: flex;
	align-items: center;
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
}
.config-item .desc {
	flex: 1 1 100px;
}
.config-item select {
	flex: 2 1 150px;
	height: 30px;
	border: 1px solid #ddd;
}
.config-item:nth-child(even) {
	background: #fafafa;
}

@media (min-width: 800px) {
	.config-list {
		display: flex;
		align-items: top;
	}
	.config-item {
		width: 400px;
	}
}

[v-cloak] {
	display: none;
}