<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>MOCK CONFIG</title>
	<link rel="icon" href="config.ico">
	<link rel="stylesheet" href="config.css">
</head>
<body>
	<div id="app" v-cloak>
		<div v-for="type in configTypes" :key="type.type" class="config-type">
			<div class="config-type-title" @click="activeType = type.type">{{ type.type }}</div>
			<div v-if="type.type == activeType" class="config-list">
				<div v-for="config in type.configs" class="config-item" :key="config.key">
					<div class="desc">{{ config.desc }}</div>
					<!-- 数组形式的配置项 -->
					<select v-if="Array.isArray(config.options)" :value="config.value" @input="postConfig(config.key, $event.target.value)">
						<option v-for="opt in config.options" :value="opt.value">{{ opt.desc }}</option>
					</select>
					<!-- Map 形式的配置项 -->
					<select v-else :value="config.value" @input="postConfig(config.key, $event.target.value)">
						<option v-for="(desc, value) in config.options" :value="value">{{ desc }}</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<script src="vue.min.js"></script>
	<script src="config.js"></script>
</body>
</html>